<% include ../partials/head %>
<body>
<% include ../partials/header %>

<div class="container">
  <div class="jumbotron">
    <h1><i class="fa fa-hand-peace-o" aria-hidden="true"></i> Node.js simple server</h1>
    <h3>this is about page</h3>
    <br>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis sunt recusandae consequatur, esse expedita asperiores. Earum, odio magni, nesciunt reprehenderit officiis maxime minima ad praesentium culpa odit deserunt, dolore veniam.
    </p>
  </div>
</div>

<% include ../partials/footer %>
<% include ../partials/scripts %>
</body>
